.events {
  margin-bottom: 7rem;

  p {
    font-size: $font-medium;
  }

  //PAGE WALLPAPER//
  &__mainimg {
    display: flex;
    height: 60vh;
    background-attachment: fixed;
    clip-path: polygon(0 0, 100% 0, 100% 84%, 50% 100%, 0 84%, 0 40%);

    &-img1,
    &-img2 {
      flex: 1;
      height: 100%;
    }

    &-img1 {
      background: url(../../public/img/events/eventimg.jpg) no-repeat center
        center/cover;
    }
    &-img2 {
      background: url(../../public/img/events/miriokefala/miriokefala2.jpg)
        no-repeat center center/cover;
    }
  }

  .linebrake {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  //CENTERED CONTENT//

  &__maincontent {
    width: 80rem;
    margin: auto;
    margin-bottom: 5rem;
  }

  //4 CONTENTS//

  &__detailboxes {
    &-detailbox {
      gap: 3rem;
      display: flex;

      &-content {
        max-height: 35rem;
        overflow-y: auto;
        h3 {
          text-align: left;
          margin: 0;
          margin-bottom: 1.2rem;
        }
      }
    }
    //dynamic row reverse eventspage.vue line23//
    .row-reverse {
      flex-direction: row-reverse;
    }
  }
}
