.home {
  &__mainimg {
    background: url(/public/img/home/rethmain1.jpg) no-repeat center
      CENTER/COVER;
    height: 60vh;
    background-attachment: fixed;
  }

  background-color: $color-primary-light;

  &__flexcontent {
    display: flex;
    flex-direction: column;
    gap: 25px;
  }
}
