.footer {
  background-color: $color-primary;
  display: grid;
  justify-content: space-evenly;
  justify-items: center;

  width: 100%;
  padding: 2.5rem 0;
  gap: 2rem;
  grid-template-rows: 2fr;
  grid-template-columns: repeat(4, 20rem);


  * {
    text-decoration: none;
    text-transform: uppercase;
    list-style: none;
    display: grid;
    color: #fff;
    font-size: $font-small;
  }

  * h3 {
    font-weight: 700;
    font-size: $font-normal;
    padding-bottom: 3px;
  }

  * a:link,
  a:visited {
    transition: all 0.3s;

  }

  * a:hover {
    color: $color-grey-light-1;
  }


  &__logo img {
    width: 200px;
    height: auto;
  }

  &__copyrights {

    grid-column: 2 / 4;
    align-self: self-end;
  }
}