/* COLOR VARIABLES */
$color-primary: #5e93d9;
$color-primary-dark: #2b68b1;
$color-primary-light: #f0f7fd;

$color-secondary: #101d2c;

$color-grey-light-1: #e6e7e9;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #17110a;
$color-grey-dark-2: #343a40;

/* FONT VARIABLES */
$font-primary: "Nunito", sans-serif;
$font-display: "Josefin Sans", sans-serif;

/* RESPONSIVE BREAKPOINTS */
$bp-larrgest: 75em;
/* 1200px */
$bp-large: 62.5em;
/* 1000px */
$bp-medium: 50em;
/* 800px */
$bp-small: 37.5em;
/* 600px */

/* font size */
$font-small: 1.1rem;
$font-normal: 1.4rem;
$font-medium: 1.6rem;
$font-large: 2rem;

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

#app {
  margin: 0;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @media only screen and (max-width: $bp-larrgest) {
    font-size: 50%;
  }
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;

  line-height: 1.6;
}

/* Reusable styles */
.active-link {
  background-color: $color-primary;
}

.container {
  width: 1080px;
  margin: auto;
}

.title {
  font-size: $font-normal;
  font-weight: 800;
  color: $color-secondary;
  margin-top: 40px;
  margin-bottom: 15px;
  text-align: center;
}

.titlelight {
  font-size: $font-large;
  font-weight: 700;
  color: $color-grey-light-1;
}

.linebrake {
  border: none;
  height: 1px;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.37),
    rgba(255, 255, 255, 0.1),
    rgba(0, 0, 0, 0.37)
  );
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.37);
}
